.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member：
          %li.member
            = @members

      .right-header
        .right-header__button
          = link_to 'Edit', edit_group_path(@group), class: 'right-header__button'
    .messages{data: {group_id: @group.id}}
      = render partial: 'message', collection: @messages
      
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class:'form__message', placeholder: 'type a message' 
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon') 
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'